
<div class="row">
  <cc-breadcrumb ng-hide="view.success || $state.includes('containerExplanation')"></cc-breadcrumb>
</div>
<div class="row">
  <div cg-busy="{promise: undefined, templateUrl: &quot;app/views/loader.html&quot;}" class="panel panel-default">
    <div class="panel-body">
      <cc-notification-form ng-if="$state.includes('editProfile')" ng-show="!view.loading"></cc-notification-form>
      <h4 ng-hide="view.success" class="form-heading">{{'Opt-out message generator'|translate}}</h4>
      <form name="optOutMessageForm" novalidate="novalidate" stg-form="stg-form" form-resource="undefined">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <p class="alert alert-synchronous-tag-warning">
              {{ "Embedding the Opt-out snippet in your website’s HTML helps you to respect your visitors' privacy." | translate }}
              {{ "There are two types of the Opt-out snippet:" | translate }}
              {{ "Domain - if you assign the “Opt-out” to a domain, it will turn off all tracking tags within that domain." | translate }}
              {{ "Global - if you choose “global Opt out“,  then it will turn off all tracking tags in all your containers within your current 7tag instance (this will apply to all containers - even those created after generating the opt-out code)." | translate }}
            </p>
          </div>
          <div class="col-lg-4">
            <!-- Place for help-->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div ng-class="{'has-error': (optOutMessageForm.viewMessage.$dirty &amp;&amp; optOutMessageForm.viewMessage.$invalid) || (false &amp;&amp; optOutMessageForm.viewMessage.$error.required)}" class="form-group">
              <label class="control-label">{{'Opt-out message'|translate}}</label>
              <textarea name="viewMessage" ng-model="view.optOutMessage" class="form-control textarea-with-newlines" rows="4" ng-change="view.generateSnippet()"></textarea>
            </div>
          </div>
          <div class="col-lg-4">
            <!-- Place for help-->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="form-group">
              <div class="input-group opt-out-input-with-checkbox">
                <div class="input-group-addon">
                  <input type="checkbox" checked="checked" disabled="disabled" class="cc-checkbox"/>
                </div>
                <input type="text" ng-model="view.optOutOption" ng-change="view.generateSnippet()" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <!-- Place for help-->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="form-group">
              <div class="input-group opt-out-input-with-checkbox">
                <div class="input-group-addon">
                  <input type="checkbox" disabled="disabled" class="cc-checkbox"/>
                </div>
                <input type="text" ng-model="view.optInOption" ng-change="view.generateSnippet()" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <!-- Place for help-->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-8 col-sm-12">
            <div class="form-group">
              <label translate="Opt-out scope" class="control-label"></label>
              <cc-help placement="right" content="{{ 'There are two types of the Opt-out snippet:' | translate }}&lt;br&gt;&lt;br&gt;{{'Domain - if you assign the “Opt-out” to a domain, it will turn off all tracking tags within that domain.'|translate}}&lt;br&gt;&lt;br&gt;{{'Global - if you choose “global Opt out“,  then it will turn off all tracking tags in all your containers within your current 7tag instance (this will apply to all containers - even those created after generating the opt-out code).'|translate}}"></cc-help>
              <select ng-model="view.option" cc-select="cc-select" ng-options="option.value as option.name for option in view.options" cc-select-options="view.options" cc-select-value="value" cc-select-label="name" ng-click="view.generateSnippet()" class="form-control"></select>
            </div>
          </div>
          <div class="col-lg-4">
            <!-- Place for help-->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div ng-class="{'has-error': (optOutMessageForm.undefined.$dirty &amp;&amp; optOutMessageForm.undefined.$invalid) || (false &amp;&amp; optOutMessageForm.undefined.$error.required)}" class="form-group">
              <label class="control-label">{{'Generated opt-out snippet'|translate}}</label>
              <textarea ng-model="view.snippet" class="form-control" rows="12" readonly="readonly" cc-clipboard="cc-clipboard"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>