{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="stg-installer center-block">
                    <h2>Impono configured!</h2>
                    <div class="stg-btn-block center-block">
                        <a href="/" class="btn btn-block btn-success">Start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
