<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Shoo</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    </head>
    <body>
        Hello World!
        {{ dump() }}
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
