.stg-footer(stg-set-version, stg-version="#{version}", ng-if="security.isAuthenticated()")
    .container()
        .row(ng-cloak)
            .col-md-6.col-md-offset-3.stg-standalone-text
                span(translate="7tag version")
                |  #{version}.

